<footer class="footer">
    <div class="footer-inner">
        <div class="copyright pull-left">
            <?php echo $info['config']['copyright_information']?><a href="<?php echo $info['config']['site_url']?>"><?php echo $info['config']['site_name']?></a>
		
        </div>
        <div class="trackcode pull-right">
            <a href="http://www.miitbeian.gov.cn/" rel="external nofollow" target="_blank">
                <?php echo $info['config']['case_number']?></a>
        </div>
		<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1261890043'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1261890043%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
	
    </div>
</footer>
<script type='text/javascript' src='__PUBLIC__/Home/js/jquery.min.js'></script>
<script type='text/javascript' src='__PUBLIC__/Home/js/d9.min.js'></script>

</div>
</body>
</html>